# Python
__pycache__/
*.py[cod]
*.pyo

# Виртуальные окружения
venv/
.venv/
env/
.env/

# Переменные окружения
.env
.env.*

# Дистрибуция / сборка
dist/
build/
*.egg-info/
*.spec

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db
desktop.ini
